<p id="notice"><%= notice %></p>

<p>
    <b>Id :</b>
    <%= @employee.ID__c %>
</p>

<p>
    <b>Name:</b>
    <%= @employee.Name %>
</p>

<p>
    <b>Email:</b>
    <%= @employee.Email__c %>
</p>

<%= link_to 'Back', employees_path %>
